################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Net/.vs/Net/v15
/Net/bin
/Net/obj
